.features-container {
  display: grid;
  gap: 24px;
  padding: 20px 0;
}

@media (max-width: 479px) {
  .features-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .features-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .features-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
